/.idea
/cache
/cookbooks
/docs
/media
/src
/test
/typings
/util

tmp/

/Vagrantfile

.editorconfig
.gitignore
.npmignore
.gitmodules
.jshintrc
.vagrant

.travis.yml

/Gruntfile.js

/tscommand*
.tscache
.grunt
.baseDir.ts
.baseDir.d.ts
.baseDir.js
.baseDir.js.map


/*.tgz

/.*
